<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>wecert · Certificate inventory</title>
    <link rel="icon" type="image/png" href="{{.Logo}}" />
    <style>
      {{.CSS}}
    </style>
  </head>
  <body>
    <div id="icons" hidden>
      <svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="arrow-clockwise" viewBox="0 0 256 256">
          <path
            d="M240,56v48a8,8,0,0,1-8,8H184a8,8,0,0,1,0-16H211.4L184.81,71.64l-.25-.24a80,80,0,1,0-1.67,114.78,8,8,0,0,1,11,11.63A95.44,95.44,0,0,1,128,224h-1.32A96,96,0,1,1,195.75,60L224,85.8V56a8,8,0,1,1,16,0Z"
          />
        </symbol>
        <symbol id="arrow-right" viewBox="0 0 256 256">
          <path
            d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"
          />
        </symbol>
        <symbol id="arrow-up-right" viewBox="0 0 256 256">
          <path
            d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
          />
        </symbol>
        <symbol id="arrows-down-up" viewBox="0 0 256 256">
          <path
            d="M117.66,170.34a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32L72,188.69V48a8,8,0,0,1,16,0V188.69l18.34-18.35A8,8,0,0,1,117.66,170.34Zm96-96-32-32a8,8,0,0,0-11.32,0l-32,32a8,8,0,0,0,11.32,11.32L168,67.31V208a8,8,0,0,0,16,0V67.31l18.34,18.35a8,8,0,0,0,11.32-11.32Z"
          />
        </symbol>
        <symbol id="book-open" viewBox="0 0 256 256">
          <path
            d="M232,48H160a40,40,0,0,0-32,16A40,40,0,0,0,96,48H24a8,8,0,0,0-8,8V200a8,8,0,0,0,8,8H96a24,24,0,0,1,24,24,8,8,0,0,0,16,0,24,24,0,0,1,24-24h72a8,8,0,0,0,8-8V56A8,8,0,0,0,232,48ZM96,192H32V64H96a24,24,0,0,1,24,24V200A39.81,39.81,0,0,0,96,192Zm128,0H160a39.81,39.81,0,0,0-24,8V88a24,24,0,0,1,24-24h64Z"
          />
        </symbol>
        <symbol id="caret-down" viewBox="0 0 256 256">
          <path
            d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"
          />
        </symbol>
        <symbol id="caret-left" viewBox="0 0 256 256">
          <path
            d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"
          />
        </symbol>
        <symbol id="caret-right" viewBox="0 0 256 256">
          <path
            d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"
          />
        </symbol>
        <symbol id="certificate" viewBox="0 0 256 256">
          <path
            d="M128,136a8,8,0,0,1-8,8H72a8,8,0,0,1,0-16h48A8,8,0,0,1,128,136Zm-8-40H72a8,8,0,0,0,0,16h48a8,8,0,0,0,0-16Zm112,65.47V224A8,8,0,0,1,220,231l-24-13.74L172,231A8,8,0,0,1,160,224V200H40a16,16,0,0,1-16-16V56A16,16,0,0,1,40,40H216a16,16,0,0,1,16,16V86.53a51.88,51.88,0,0,1,0,74.94ZM160,184V161.47A52,52,0,0,1,216,76V56H40V184Zm56-12a51.88,51.88,0,0,1-40,0v38.22l16-9.16a8,8,0,0,1,7.94,0l16,9.16Zm16-48a36,36,0,1,0-36,36A36,36,0,0,0,232,124Z"
          />
        </symbol>
        <symbol id="check-circle" viewBox="0 0 256 256">
          <path
            d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"
          />
        </symbol>
        <symbol id="check" viewBox="0 0 256 256">
          <path
            d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"
          />
        </symbol>
        <symbol id="clock" viewBox="0 0 256 256">
          <path
            d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z"
          />
        </symbol>
        <symbol id="cloud" viewBox="0 0 256 256">
          <path
            d="M160,40A88.09,88.09,0,0,0,81.29,88.67,64,64,0,1,0,72,216h88a88,88,0,0,0,0-176Zm0,160H72a48,48,0,0,1,0-96c1.1,0,2.2,0,3.29.11A88,88,0,0,0,72,128a8,8,0,0,0,16,0,72,72,0,1,1,72,72Z"
          />
        </symbol>
        <symbol id="code" viewBox="0 0 256 256">
          <path
            d="M69.12,94.15,28.5,128l40.62,33.85a8,8,0,1,1-10.24,12.29l-48-40a8,8,0,0,1,0-12.29l48-40a8,8,0,0,1,10.24,12.3Zm176,27.7-48-40a8,8,0,1,0-10.24,12.3L227.5,128l-40.62,33.85a8,8,0,1,0,10.24,12.29l48-40a8,8,0,0,0,0-12.29ZM162.73,32.48a8,8,0,0,0-10.25,4.79l-64,176a8,8,0,0,0,4.79,10.26A8.14,8.14,0,0,0,96,224a8,8,0,0,0,7.52-5.27l64-176A8,8,0,0,0,162.73,32.48Z"
          />
        </symbol>
        <symbol id="copy" viewBox="0 0 256 256">
          <path
            d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"
          />
        </symbol>
        <symbol id="dots-three" viewBox="0 0 256 256">
          <path
            d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128Zm56-12a12,12,0,1,0,12,12A12,12,0,0,0,196,116ZM60,116a12,12,0,1,0,12,12A12,12,0,0,0,60,116Z"
          />
        </symbol>
        <symbol id="funnel" viewBox="0 0 256 256">
          <path
            d="M230.6,49.53A15.81,15.81,0,0,0,216,40H40A16,16,0,0,0,28.19,66.76l.08.09L96,139.17V216a16,16,0,0,0,24.87,13.32l32-21.34A16,16,0,0,0,160,194.66V139.17l67.74-72.32.08-.09A15.8,15.8,0,0,0,230.6,49.53ZM40,56h0Zm106.18,74.58A8,8,0,0,0,144,136v58.66L112,216V136a8,8,0,0,0-2.16-5.47L40,56H216Z"
          />
        </symbol>
        <symbol id="info" viewBox="0 0 256 256">
          <path
            d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm16-40a8,8,0,0,1-8,8,16,16,0,0,1-16-16V128a8,8,0,0,1,0-16,16,16,0,0,1,16,16v40A8,8,0,0,1,144,176ZM112,84a12,12,0,1,1,12,12A12,12,0,0,1,112,84Z"
          />
        </symbol>
        <symbol id="lock-simple" viewBox="0 0 256 256">
          <path
            d="M208,80H176V56a48,48,0,0,0-96,0V80H48A16,16,0,0,0,32,96V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V96A16,16,0,0,0,208,80ZM96,56a32,32,0,0,1,64,0V80H96ZM208,208H48V96H208V208Z"
          />
        </symbol>
        <symbol id="magnifying-glass" viewBox="0 0 256 256">
          <path
            d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
          />
        </symbol>
        <symbol id="moon" viewBox="0 0 256 256">
          <path
            d="M233.54,142.23a8,8,0,0,0-8-2,88.08,88.08,0,0,1-109.8-109.8,8,8,0,0,0-10-10,104.84,104.84,0,0,0-52.91,37A104,104,0,0,0,136,224a103.09,103.09,0,0,0,62.52-20.88,104.84,104.84,0,0,0,37-52.91A8,8,0,0,0,233.54,142.23ZM188.9,190.34A88,88,0,0,1,65.66,67.11a89,89,0,0,1,31.4-26A106,106,0,0,0,96,56,104.11,104.11,0,0,0,200,160a106,106,0,0,0,14.92-1.06A89,89,0,0,1,188.9,190.34Z"
          />
        </symbol>
        <symbol id="plugs" viewBox="0 0 256 256">
          <path
            d="M149.66,138.34a8,8,0,0,0-11.32,0L120,156.69,99.31,136l18.35-18.34a8,8,0,0,0-11.32-11.32L88,124.69,69.66,106.34a8,8,0,0,0-11.32,11.32L64.69,124,41.37,147.31a32,32,0,0,0,0,45.26l5.38,5.37-28.41,28.4a8,8,0,0,0,11.32,11.32l28.4-28.41,5.37,5.38a32,32,0,0,0,45.26,0L132,191.31l6.34,6.35a8,8,0,0,0,11.32-11.32L131.31,168l18.35-18.34A8,8,0,0,0,149.66,138.34Zm-52.29,65a16,16,0,0,1-22.62,0L52.69,181.25a16,16,0,0,1,0-22.62L76,135.31,120.69,180Zm140.29-185a8,8,0,0,0-11.32,0l-28.4,28.41-5.37-5.38a32.05,32.05,0,0,0-45.26,0L124,64.69l-6.34-6.35a8,8,0,0,0-11.32,11.32l80,80a8,8,0,0,0,11.32-11.32L191.31,132l23.32-23.31a32,32,0,0,0,0-45.26l-5.38-5.37,28.41-28.4A8,8,0,0,0,237.66,18.34Zm-34.35,79L180,120.69,135.31,76l23.32-23.31a16,16,0,0,1,22.62,0l22.06,22A16,16,0,0,1,203.31,97.37Z"
          />
        </symbol>
        <symbol id="shield-check" viewBox="0 0 256 256">
          <path
            d="M208,40H48A16,16,0,0,0,32,56v56c0,52.72,25.52,84.67,46.93,102.19,23.06,18.86,46,25.26,47,25.53a8,8,0,0,0,4.2,0c1-.27,23.91-6.67,47-25.53C198.48,196.67,224,164.72,224,112V56A16,16,0,0,0,208,40Zm0,72c0,37.07-13.66,67.16-40.6,89.42A129.3,129.3,0,0,1,128,223.62a128.25,128.25,0,0,1-38.92-21.81C61.82,179.51,48,149.3,48,112l0-56,160,0ZM82.34,141.66a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32l-56,56a8,8,0,0,1-11.32,0Z"
          />
        </symbol>
        <symbol id="stack" viewBox="0 0 256 256">
          <path
            d="M230.91,172A8,8,0,0,1,228,182.91l-96,56a8,8,0,0,1-8.06,0l-96-56A8,8,0,0,1,36,169.09l92,53.65,92-53.65A8,8,0,0,1,230.91,172ZM220,121.09l-92,53.65L36,121.09A8,8,0,0,0,28,134.91l96,56a8,8,0,0,0,8.06,0l96-56A8,8,0,1,0,220,121.09ZM24,80a8,8,0,0,1,4-6.91l96-56a8,8,0,0,1,8.06,0l96,56a8,8,0,0,1,0,13.82l-96,56a8,8,0,0,1-8.06,0l-96-56A8,8,0,0,1,24,80Zm23.88,0L128,126.74,208.12,80,128,33.26Z"
          />
        </symbol>
        <symbol id="sun" viewBox="0 0 256 256">
          <path
            d="M120,40V16a8,8,0,0,1,16,0V40a8,8,0,0,1-16,0Zm72,88a64,64,0,1,1-64-64A64.07,64.07,0,0,1,192,128Zm-16,0a48,48,0,1,0-48,48A48.05,48.05,0,0,0,176,128ZM58.34,69.66A8,8,0,0,0,69.66,58.34l-16-16A8,8,0,0,0,42.34,53.66Zm0,116.68-16,16a8,8,0,0,0,11.32,11.32l16-16a8,8,0,0,0-11.32-11.32ZM192,72a8,8,0,0,0,5.66-2.34l16-16a8,8,0,0,0-11.32-11.32l-16,16A8,8,0,0,0,192,72Zm5.66,114.34a8,8,0,0,0-11.32,11.32l16,16a8,8,0,0,0,11.32-11.32ZM48,128a8,8,0,0,0-8-8H16a8,8,0,0,0,0,16H40A8,8,0,0,0,48,128Zm80,80a8,8,0,0,0-8,8v24a8,8,0,0,0,16,0V216A8,8,0,0,0,128,208Zm112-88H216a8,8,0,0,0,0,16h24a8,8,0,0,0,0-16Z"
          />
        </symbol>
        <symbol id="warning-circle" viewBox="0 0 256 256">
          <path
            d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm-8-80V80a8,8,0,0,1,16,0v56a8,8,0,0,1-16,0Zm20,36a12,12,0,1,1-12-12A12,12,0,0,1,140,172Z"
          />
        </symbol>
        <symbol id="warning" viewBox="0 0 256 256">
          <path
            d="M236.8,188.09,149.35,36.22h0a24.76,24.76,0,0,0-42.7,0L19.2,188.09a23.51,23.51,0,0,0,0,23.72A24.35,24.35,0,0,0,40.55,224h174.9a24.35,24.35,0,0,0,21.33-12.19A23.51,23.51,0,0,0,236.8,188.09ZM222.93,203.8a8.5,8.5,0,0,1-7.48,4.2H40.55a8.5,8.5,0,0,1-7.48-4.2,7.59,7.59,0,0,1,0-7.72L120.52,44.21a8.75,8.75,0,0,1,15,0l87.45,151.87A7.59,7.59,0,0,1,222.93,203.8ZM120,144V104a8,8,0,0,1,16,0v40a8,8,0,0,1-16,0Zm20,36a12,12,0,1,1-12-12A12,12,0,0,1,140,180Z"
          />
        </symbol>
        <symbol id="x" viewBox="0 0 256 256">
          <path
            d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
          />
        </symbol>
      </svg>
    </div>
    <header class="topbar">
      <a href="#" class="brand" aria-label="wecert inventory"
        ><span class="brand-symbol" aria-hidden="true"
          ><img
            class="brand-logo brand-logo-light"
            src="{{.Logo}}"
            width="30"
            height="31"
            alt="" /><img
            class="brand-logo brand-logo-dark"
            src="{{.LogoDark}}"
            width="30"
            height="31"
            alt="" /></span
        ><span class="brand-wordmark">wecert</span></a
      ><a href="#" class="topnav">Inventory</a><span class="spacer"></span>
      <a
        class="header-link"
        href="https://github.com/susunola/wecert/blob/main/docs/console.md"
        target="_blank"
        rel="noreferrer"
        >Documentation <svg class="icon"><use href="#arrow-up-right" /></svg
      ></a>
      <span class="pill pill-ro"
        ><svg class="icon"><use href="#lock-simple" /></svg>Read-only</span
      ><button class="icon-btn" id="theme" aria-label="Switch color theme">
        <svg class="icon"><use href="#moon" /></svg>
      </button>
    </header>
    <main>
      <noscript
        ><p class="noscript">
          Enable JavaScript to inspect this inventory. The same data is
          available from the authenticated GET /api/inventory endpoint.
        </p></noscript
      >
      <div class="heading">
        <div>
          <h1>Certificate inventory</h1>
          <p class="subheading">
            Certificate status, cloud bindings, and TLS verification results.
          </p>
        </div>
        <div class="snapshot-control">
          <div class="snapshot-text muted">
            <span class="sample-label">Snapshot</span><br /><b
              class="mono"
              id="snapshot-time"
              >{{.Snapshot.Time}}</b
            >
          </div>
          <button class="btn" id="refresh">
            <svg class="icon"><use href="#arrow-clockwise" /></svg>Refresh
          </button>
        </div>
      </div>
      <section
        class="summary"
        aria-label="Inventory summary for the current account and search"
      >
        <button class="metric" data-filter="all">
          <span class="metric-label">Total certificates</span
          ><span class="metric-symbol"
            ><svg class="icon"><use href="#certificate" /></svg></span
          ><strong class="metric-value">0</strong
          ><span class="metric-note">Loading inventory</span>
        </button>
        <button class="metric warn" data-filter="attention">
          <span class="metric-label">Requires attention</span
          ><span class="metric-symbol"
            ><svg class="icon"><use href="#warning-circle" /></svg></span
          ><strong class="metric-value">0</strong
          ><span class="metric-note">Loading inventory</span>
        </button>
        <button class="metric warn" data-filter="expiring">
          <span class="metric-label">In renewal window</span
          ><span class="metric-symbol"
            ><svg class="icon"><use href="#clock" /></svg></span
          ><strong class="metric-value">0</strong
          ><span class="metric-note">Loading inventory</span>
        </button>
        <button class="metric" data-filter="healthy">
          <span class="metric-label">Healthy</span
          ><span class="metric-symbol"
            ><svg class="icon"><use href="#shield-check" /></svg></span
          ><strong class="metric-value" style="color: var(--accent)">0</strong
          ><span class="metric-note">Loading inventory</span>
        </button>
      </section>
      <section
        class="quota-panel"
        id="quota-panel"
        aria-labelledby="quota-title"
        hidden
      >
        <div class="quota-heading">
          <div>
            <span class="eyebrow">Let’s Encrypt</span>
            <h2 id="quota-title">Issuance quota</h2>
          </div>
          <span class="quota-state" id="quota-state"></span>
        </div>
        <div class="quota-grid" id="quota-grid"></div>
        <details class="quota-details" id="quota-details">
          <summary id="quota-details-summary"></summary>
          <div class="quota-table-wrap">
            <table class="quota-table">
              <thead>
                <tr>
                  <th>Limit</th>
                  <th>Scope</th>
                  <th>Available</th>
                  <th>Recovery</th>
                </tr>
              </thead>
              <tbody id="quota-rows"></tbody>
            </table>
          </div>
        </details>
        <p class="quota-footnote">
          <svg class="icon"><use href="#info" /></svg
          ><span
            >Local issuance estimate. Shared limits may have less capacity
            because activity outside this daemon is not visible.</span
          ><a
            href="https://letsencrypt.org/docs/rate-limits/"
            target="_blank"
            rel="noreferrer"
            >Rate-limit policy
            <svg class="icon"><use href="#arrow-up-right" /></svg
          ></a>
        </p>
      </section>
      <section class="inventory" aria-label="Certificate inventory">
        <div class="list-top">
          <h2>
            Certificates <span class="small-count" id="list-count">0</span>
          </h2>
          <span class="spacer"></span>
          <div class="source-meta">
            <svg class="icon"><use href="#stack" /></svg>Desired state
            <code class="mono" id="revision"></code
            ><span
              class="pill"
              id="freeze-state"
              style="font-size: 9px; padding: 2px 6px"
            ></span>
          </div>
        </div>
        <div class="toolbar">
          <div class="tabs" aria-label="Filter certificates">
            <button class="tab" data-filter="all" aria-pressed="true">
              All <b>0</b></button
            ><button class="tab" data-filter="attention" aria-pressed="false">
              Attention <b class="attention-count">0</b></button
            ><button class="tab" data-filter="expiring" aria-pressed="false">
              Expiring <b>0</b></button
            ><button class="tab" data-filter="healthy" aria-pressed="false">
              Healthy <b>0</b>
            </button>
          </div>
          <label class="searchbox"
            ><svg class="icon"><use href="#magnifying-glass" /></svg
            ><input
              id="search"
              type="search"
              placeholder="Search certificates, domains, or CLBs…"
              aria-label="Search certificates, domains, accounts, or CLBs"
            /><kbd>/</kbd></label
          >
          <div class="select-wrap">
            <svg class="icon"><use href="#cloud" /></svg
            ><select id="account" aria-label="Filter by cloud account">
              <option value="all">All accounts</option>
              {{range .Accounts}}
              <option value="{{.}}">
                {{if .}}{{.}}{{else}}Account unspecified{{end}}
              </option>
              {{end}}
            </select>
          </div>
          <div class="select-wrap sort-control">
            <svg class="icon"><use href="#arrows-down-up" /></svg
            ><select
              id="sort"
              aria-label="Sort certificates within each account"
              title="Sort within each account"
            >
              <option value="attention">Attention first</option>
              <option value="expiry">Expires soonest</option>
              <option value="name">Name (A–Z)</option>
            </select>
          </div>
          <button class="text-button hidden" id="reset-filters">
            Reset filters
          </button>
        </div>
        <div class="table-scroll">
          <table>
            <colgroup>
              <col class="status" />
              <col class="cert" />
              <col class="domains" />
              <col class="bindings" />
              <col class="expiry" />
              <col class="probe" />
            </colgroup>
            <thead>
              <tr>
                <th>Status</th>
                <th>Certificate</th>
                <th>Domains</th>
                <th>Cloud bindings</th>
                <th>Expires in</th>
                <th>TLS verification</th>
              </tr>
            </thead>
            <tbody id="rows"></tbody>
          </table>
        </div>
        <div id="mobile-list" class="mobile-list"></div>
        <div class="table-footer">
          <span id="result-count" role="status" aria-live="polite"
            >Loading inventory</span
          ><span class="spacer"></span
          ><svg class="icon"><use href="#info" /></svg
          ><span>≥ indicates the minimum known binding count</span
          ><span class="table-help">Grouped by account</span>
        </div>
      </section>
      <div class="footer">
        <span class="footer-left"
          ><svg class="icon"><use href="#lock-simple" /></svg>Read-only view of
          configured state, deployment records, and observed TLS results.</span
        ><button class="text-button" id="legend-open">
          Status reference
          <svg class="icon"><use href="#arrow-up-right" /></svg>
        </button>
      </div>
    </main>
    <div class="backdrop hidden" id="backdrop"></div>
    <aside
      class="drawer hidden"
      id="drawer"
      role="dialog"
      aria-modal="true"
      aria-labelledby="detail-title"
    ></aside>
    <dialog class="legend-dialog" id="legend">
      <header>
        <h2>Status reference</h2>
        <button
          class="icon-btn"
          id="legend-close"
          aria-label="Close status reference"
        >
          <svg class="icon"><use href="#x" /></svg>
        </button>
      </header>
      <dl id="legend-list"></dl>
    </dialog>
    <div class="toast hidden" id="toast" role="status"></div>
    <script id="inventory-data" type="application/json">
      {{.Snapshot}}
    </script>
    <script>
      {{.JS}}
    </script>
  </body>
</html>
